DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
JWT_SECRET=
JWT_EXPIRY=
FRONTEND_URL=
NODE_ENV=

ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
# GEMINI_MODEL="gemini-flash-latest"
# CLAUDE_MODEL="claude-sonnet-4-5-20250929"
# OPENAI_MODEL="gpt-4o"
